@import (reference) '../../css/_constants.less';

:local(.wrapperClass)_input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin: -0.125rem;

  &__label {
    .t-micricopy_13-16;
    color: @black-20;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: @pure-blue-95;
  }

  &__input-element {
    .t-text_16-20;
    line-height: 1.5rem;
    padding: 0.5rem calc(0.75rem - 0.125rem);
    border: 0.125rem solid @pure-blue-50;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: 1;

    &:focus {
      box-shadow: 0 0 0 2px @pure-blue-90;
    }
  }
  &_has-left-icon &__input-element {
    padding-left: calc(2.5rem - 0.125rem);
  }
  &_has-right-icon &__input-element,
  &_not-empty &__input-element {
    padding-right: calc(2.5rem - 0.125rem);
  }

  &__placeholder {
    .t-text_16-20;
    line-height: 1.5rem;
    position: absolute;
    top: calc(0.5rem + 0.125rem);
    left: 0.75rem;
    right: 0.75rem;
    color: @black-50;
    z-index: 0;
  }
  &_not-empty &__placeholder {
    display: none;
  }
  &_has-left-icon &__placeholder {
    left: 2.5rem;
  }
  &_has-right-icon &__placeholder {
    right: 2.5rem;
  }

  &__left-icon,
  &__right-icon {
    position: absolute;
    color: @black-50;
    top: calc(0.5rem + 0.125rem)
  }
  &__left-icon {
    left: calc(0.5rem + 0.125rem)
  }
  &__right-icon {
    right: calc(0.5rem + 0.125rem)
  }
  &_not-empty &__right-icon { display: none; }

  &__clear {
    position: absolute;
    top: calc(0.25rem + 0.125rem);
    right: calc(0.25rem + 0.125rem);
    display: none;
    z-index: 2;
  }
  &_not-empty &__clear { display: flex; }


}