@import (reference) '../css/_constants.less';

.mixin-fullscreen-page {
  height: 100%;
  box-sizing: border-box;
}

.mixin-centered-content {
  display: flex;
  flex-grow: 1;

  @media @mq-not-mobile {
    justify-content: center;
    align-items: center;
  }
}

.mixin-narrow-body {
  box-sizing: border-box;
  width: 400px;
  border-radius: 0.5rem;
  border: 1px solid @black-90;
  min-height: 600px;
  position: relative;
  display: flex;

  @media @mq-mobile {
    width: 100%;
  }

  .narrow-body__back-button {
    .common-back-button;
    position: absolute;
    top: 0;
    left: -3.875rem;
  }

  @media @mq-mobile {
    width: 100%;
    border-radius: 0;
    border: none;
    min-height: auto;
  }
}

:local(.homeClass)_home {
  .mixin-fullscreen-page;
}

:local(.loginClass)_login {
  .mixin-fullscreen-page;

  &__layout {
    .mixin-centered-content;
  }

  &__body {
    .mixin-narrow-body;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;

    @media @mq-mobile {
      margin: 0;
      padding: 1.25rem 0;
    }
  }

  &__login_content {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    align-items: center;
    gap: 1.25rem;
  }

  &__video {
    width: auto;
    aspect-ratio: 1200 / 360;
  }

  &__intro_text {
    .t-secondary-header_18-24;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(60deg, @red-50 0%, @purple-40 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

:local(.appMainClass)_app-main {
  .mixin-fullscreen-page;
  height: 100vh;
  -webkit-overflow-scrolling: none;
  overflow: hidden;

  @media @mq-mobile {
    box-sizing: border-box;
  }

  &__layout {
    .mixin-centered-content;
    box-sizing: border-box;
    height: ~"calc(100vh - 3.875rem)";
    overflow: hidden;

    @media @mq-not-mobile {
      padding: 2rem 0;
    }
  }

  &__body {
    .mixin-narrow-body;
    height: 100%;
    flex-direction: column;
    background-color: @blue-95;
    border-radius: 4px;
  }
  @media @mq-mobile {
    &__body {
      // height: auto;
      border-radius: 0;
    }
  }

  &__shortlink-list {
    display: flex;
    flex-direction: column;
  }
}

:local(.profileClass)_profile {
  .mixin-fullscreen-page;

  &__layout {
    .mixin-centered-content;
  }

  &__body {
    .mixin-narrow-body;
    justify-content: center;
    margin: 1.25rem 0;
    padding: 1.25rem;

    @media @mq-mobile {
      margin: 0;
      padding: 1.25rem;
    }
  }
}